<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bichodasorte">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".TernoDezenaActivity" />
        <activity android:name=".TernoGrupoActivity" />
        <activity android:name=".DuqueDezenaActivity" />
        <activity android:name=".DuqueGrupoActivity" />
        <activity android:name=".MilharActivity" />
        <activity android:name=".CentenaActivity" />
        <activity android:name=".DezenaActivity" />
        <activity android:name=".GrupoActivity" />
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>